.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}